body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Lato";
}

.button {
  font-size: 1em;
  width: 10em;
  height: 3em;
  border-radius: 8em;
  background-color: #f88360;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.scroll {
  background-color: #757575;
  transition: all 0.3s ease;
  color: #fff;
  font-size: 1.2em;
}

/* HEADER */

header > nav {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.6em;
  z-index: 3;
}

h1 {
  margin-top: 0;
}

header > nav > ul {
  display: flex;
  list-style: none;
}

header > nav > ul > li {
  padding: 0.5em;
}

a {
  text-decoration: none;
}

/* HERO */

#hero {
  background: url(assets/dog.jpg) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#hero > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero > div > h1 {
  font-size: 5em;
  font-weight: 800;
  margin-bottom: 0;
}

#hero > div > p {
  font-size: 1.5em;
  width: 40%;
}

#hero > div > .button {
  font-size: 1.5em;
  width: 8em;
  height: 4em;
  border-radius: 8em;
  background-color: #f88360;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* SERVICE */

#service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7.5em;
}

#service > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
}

#service > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 40em;
  padding: 3em;
  text-align: center;
}

#service > div > div img {
  width: 6em;
}

/* REVIEWS */

#reviews > div {
  position: relative;
  display: flex;
  background-color: #fafafa;
  margin-top: 10em;
  height: 50vh;
}

#reviews > div > img {
  height: 50em;
  position: absolute;
  z-index: 1;
  right: 12vw;
  top: -10em;
}

#reviews > div > div {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 12vw;
}

#reviews > div > div > img {
  width: 2em;
}

/* RESULTS */

#results {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f88360;
  height: 30vh;
  color: #fff;
}

#results > div > p {
  padding: 2em;
}

#results > div {
  display: flex;
}

/* OFFER */

#offer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

#offer > div:first-child {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2em;
}

#offer > div:first-child > h3 {
  font-size: 2em;
}

#offer > div:first-child > p {
  color: rgb(151, 149, 149);
}

#offer > div:first-child > img {
  width: 17.5em;
}

#offers {
  display: flex;
}

.offer-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  padding: 3em;
  border-radius: 1em;
  background-color: rgba(247, 245, 245, 0.596);
  transition: all 0.3s ease;
}

.offer-card > p:first-child {
  font-size: 1.2em;
}

.offer-card > p:nth-child(2) {
  font-size: 2em;
}

.offer-card > p:nth-child(n + 3):nth-child(-n + 6) {
  color: rgb(131, 128, 128);
}

.offer-card > .button {
  border: 2px solid #f88360;
  background-color: rgba(247, 245, 245, 0.596);
  color: #f88360;
  margin-top: 2em;
  transition: all 0.6s ease;
}

.offer-card:hover {
  background-color: #fff;
  transform: scale(1.1);
  box-shadow: 0px 0px 50px rgb(189, 186, 186);
}

.offer-card:hover > .button {
  background-color: #f88360;
  color: #fff;
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  background-color: #fafafa;
}

#contact > div:first-child > h3 {
  font-size: 2em;
  margin-bottom: 0;
}

#contact > div:first-child > p {
  color: rgb(131, 128, 128);
}

/* FOOTER */

footer {
  height: 30vh;
  background-color: #333333;
  display: flex;
  flex-direction: column;
}

footer > div:first-child {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  border-bottom: 2px solid rgba(206, 204, 204, 0.61);
}

footer > div:first-child > h4 {
  font-size: 1.3rem;
}

footer > div:first-child > ul {
  list-style: none;
  display: flex;
}

footer > div:first-child > ul > li {
  padding: 2em;
}

footer > div:nth-child(2) {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > div:nth-child(2) > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
}

footer > div:nth-child(2) > div > p {
  max-width: 50%;
}
