body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Lato";
}

a {
  color: #000;
}

.button {
  font-size: 1em;
  width: 10em;
  height: 3em;
  border-radius: 8em;
  border: 2px solid #f88360;

  background-color: #f88360;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.button:hover {
  background-color: #fff;
  color: #f88360;
  border: 2px solid #f88360;
  transition: all 0.3s ease;
  cursor: pointer;
}

.scroll {
  background-color: rgb(222, 95, 58);
  transition: all 0.3s ease;
  color: #fff;
  font-size: 1.2em;
}

.scroll > ul > li > a {
  color: #fff;
}

.scroll > #logo img {
  filter: invert(100%);
}

/* HEADER */

header > nav {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.6em;
  z-index: 3;
  transition: all 0.3s ease;
}

h1 {
  margin-top: 0;
}

header > nav > ul {
  display: flex;
  list-style: none;
}

header > nav > ul > li {
  padding: 0.5em;
}

a {
  text-decoration: none;
}

#logo img {
  width: 3em;
}

/* HERO */

#hero::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(assets/dog.jpg) no-repeat center center fixed;
  background-size: cover;
  content: "";
  z-index: -1;
  opacity: 0.85;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#hero > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero > div > h1 {
  font-size: 5em;
  font-weight: 800;
  margin-bottom: 0;
}

#hero > div > p {
  font-size: 1.5em;
  width: 40%;
}

#hero > div > .button {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* SERVICE */

#service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 7.5em;
}

#service > h3 {
  font-size: 2em
}

#service > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
}

#service > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 40em;
  padding: 3em;
  text-align: center;
}

#service > div > div img {
  width: 6em;
}

@media screen and (max-width: 1000px) {
  #service > div > div {
    padding: 1em;
  }
}

@media screen and (max-width: 720px) {
  #service > div {
    flex-wrap: wrap;
  }
  #service > div > div:first-child {
    flex-basis: 100%;
  }
}

/* REVIEWS */

#quotation-mark {
  width: 2em;
}

#reviews {
  margin-top: 10em;
}

#reviews > div:first-of-type {
  position: relative;
  display: flex;
  
  background-color: #fafafa;
  height: 50vh;
 
}

#reviews > div > div:first-of-type {
  
  height: 20em;
}


#reviews > div > img {
  height: 50em;
  position: absolute;
  z-index: 1;
  right: 12vw;
  top: -9em;
}

#reviewsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 15vw;
}

.review {
  font-size: 1.35em;
  width: 40%;
  position: absolute;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.reviewerName {
  font-size: 1em;
  font-weight: 600;
}

.spacer {
  display:block; 
  height: 2px;
}

.reviewerOccupation {
  font-size: 0.7em;
  color: rgb(119, 119, 145);
}

.review:nth-of-type(1) {
  opacity: 1;
}

#reviewsContainer > .review:not(:nth-of-type(1)) {
  visibility: visible;
}

.reviewButtons {
  position: relative;
  top: 12.75em;
}

.reviewButtons img {
  height: 1.5em;
}

#prevReview {
  padding-right: 10px;
}

.reviewButton {
  width: 1.6em;
}

.reviewButton:hover {
  cursor: pointer;
  transform: scale(1.2)
}

@media screen and (max-width: 1513px) {

  #reviews > div > img {
    right: 7vw;
  }
}
@media screen and (max-width: 1250px) {
  #reviewsContainer {
    margin-left: 10vw;
  }
  #reviews > div > img {
    height: 40em;
    position: absolute;
    z-index: 1;
    right: 12vw;
    top: -3em;
  }

}

@media screen and (max-width: 970px) {
  .reviewButtons {
    top: 16em;
  }
}

@media screen and (max-width: 920px) {
  #reviews > div > img {
    height: 30em;
    position: absolute;
    z-index: 1;
    right: 12vw;
    top: 5em;
  }
  .review {
    width: 35%;
  }
}

@media screen and (max-width: 730px) {
  #reviews > div > img {
    display: none;
  }
  #reviewsContainer {
    margin-left: 0;
    padding: 2em;
    display: flex;
    justify-content: center;
  }
  .review {
    width: 80%;
  }
}

/* RESULTS */

#results {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f88360;
  height: 30vh;
  color: #fff;
}

#results > h3 {
  font-size: 2em;
  max-width: 15em;
}

#results > div > p {
  padding: 2em;
}

#results > div {
  display: flex;
  width: 20%;
  justify-content: space-around;
  align-content: center;
  padding: 2em;
}

#results-item {
  display: flex;
  flex-direction: column;
  margin: 2em;
}

/* OFFER */

#offer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#offer > div:first-child {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2em;
}

#offer > * {
  padding: 5em;
}

#offer > div:first-child > div > h3 {
  font-size: 2em;
}

#offer > div:first-child > p {
  color: rgb(151, 149, 149);
}

#offer > div:first-child > img {
  width: 17.5em;
}

#offers {
  display: flex;
}

.offer-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  padding: 3em;
  border-radius: 1em;
  background-color: rgba(247, 245, 245, 0.596);
  transition: all 0.3s ease;
}

.offer-card > p:first-child {
  font-size: 1.2em;
}

.offer-card > p:nth-child(2) {
  font-size: 2em;
}

.offer-card > p:nth-child(n + 3):nth-child(-n + 6) {
  color: rgb(131, 128, 128);
}

.offer-card > .button {
  border: 2px solid #f88360;
  background-color: rgba(247, 245, 245, 0.596);
  color: #f88360;
  margin-top: 5%;
  transition: all 0.6s ease;
}

.offer-card:hover {
  background-color: #fff;
  transform: scale(1.1);
  box-shadow: 0px 0px 50px rgb(189, 186, 186);
}

.offer-card:hover > .button {
  background-color: #f88360;
  color: #fff;
}

@media screen and (max-width: 990px) {
  #offer {
    flex-wrap: wrap;
  }
  #offer > div:first-child {
    flex-direction: row;
    flex-basis: 100%;
    margin: 5em 5em 2.5em 5em;
  }

  #offers {
    padding-top: 0;
  }
}

@media screen and (max-width: 720px) {
  #offer {
    flex-wrap: wrap;
  }
  #offer > div:first-child {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
@media screen and (max-width: 580px) {
  #offers {
    display: flex;
    flex-direction: column;
  }
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  background-color: #fafafa;
}

#contact > div:first-child > h3 {
  font-size: 2em;
  margin-bottom: 0;
}

#contact > div:first-child > p {
  color: rgb(131, 128, 128);
}

/* FOOTER */

footer {
  height: 30vh;
  background-color: #333333;
  display: flex;
  flex-direction: column;
}

footer > div:first-child {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
}

footer > div:first-child > h4 {
  font-size: 1.5rem;
}

footer > div:first-child > ul {
  list-style: none;
  display: flex;
}

footer > div:first-child > ul > li {
  padding: 2em;
}

footer > div:nth-child(3) {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > div:nth-child(3) > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgba(151, 149, 149, 0.651);
}

footer > div:nth-child(3) > div > p {
  max-width: 50%;
}

#terms-of-service {
  display: flex;
  justify-content: flex-end;
}

#terms-of-service * {
  padding: 1em;
}

#separator {
  height: 1px;
  width: 68vw;
  background-color: rgba(151, 151, 151, 0.562);
  align-self: center;
}
